<div>
  <h2 id="page-heading" data-cy="CustomerDetailsHeading">
    <span>Customer Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customer-details"
        [routerLink]="['/customer-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Customer Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="customerDetails?.length === 0">
    <span>No customerDetails found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="customerDetails && customerDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="gender"><span>Gender</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="phone"><span>Phone</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="addressLine1"><span>Address Line 1</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="addressLine2"><span>Address Line 2</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="city"><span>City</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="country"><span>Country</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="user.login"><span>User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customerDetails of customerDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/customer-details', customerDetails.id, 'view']">{{ customerDetails.id }}</a>
          </td>
          <td>{{ customerDetails.gender }}</td>
          <td>{{ customerDetails.phone }}</td>
          <td>{{ customerDetails.addressLine1 }}</td>
          <td>{{ customerDetails.addressLine2 }}</td>
          <td>{{ customerDetails.city }}</td>
          <td>{{ customerDetails.country }}</td>
          <td>
            {{ customerDetails.user?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/customer-details', customerDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/customer-details', customerDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(customerDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="customerDetails && customerDetails.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
